@model Ecommerce.EF.Product

@{
    ViewBag.Title = "Details";
}

<h2>Buy</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ProductImage)" class="img-fluid" alt="Product Image" />
        </div>
        <div class="col-md-6">
            <h4>Product Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Product Name:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ProductName)</dd>

                <dt class="col-sm-4">Product Description:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ProductDetails)</dd>

                <dt class="col-sm-4">Price:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ProductPrice) TK</dd>

                <dt class="col-sm-4">Category:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Category1.CategoryName)</dd>
            </dl>
            <p class="text-center">
                @Html.ActionLink("Add to Cart", "AddToCart", new { id = Model.id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "CustomerHome", null, new { @class = "btn btn-secondary" })
            </p>
        </div>
    </div>
</div>
