@{
    ViewBag.Title = "Home Page";
}

@model Lab2.Models.IndexModel


<h1>Registration form</h1>

<form action="" method="post">
    <table>
        <tr>
            <td align="right">
                <label for="name">Name:</label>
            </td>
            <td align="left">
                <input type="text" name="name" id="name" value="@(Model==null ? "":Model.name)" placeholder="Name" />
            </td>
            <td>
                <span class="text-danger">@Html.ValidationMessage("name")</span>
            </td>
        </tr>

        @*--------------------------------------------------------------------*@

        <tr>
            <td align="right">
                <label for="username">Username:</label>
            </td>
            <td align="left">
                <input type="text" name="username" id="username" value="@(Model==null ? "":Model.username)" placeholder="Username" />
            </td>
            <td>
                <span class="text-danger">@Html.ValidationMessage("username")</span>
            </td>
        </tr>

        @*------------------------------------------------------------------------*@

        <tr>
            <td align="right">
                <label for="email">Email:</label>
            </td>
            <td align="left">
                <input type="email" name="email" id="email" value="@(Model==null ? "":Model.email)" placeholder="Email" />
            </td>
            <td>
                <span class="text-danger">@Html.ValidationMessage("email")</span>
            </td>
        </tr>


        @*-------------------------------------------------------------------------------*@

        <tr>
            <td align="right">
                <label for="studentid">Student Id:</label>
            </td>
            <td align="left">
                <input type="text" name="studentid" id="studentid" value="@(Model==null ? "":Model.studentid)" placeholder="Student Id" />
            </td>
            <td>
                <span class="text-danger">@Html.ValidationMessage("studentid")</span>
            </td>
        </tr>

        @*--------------------------------------------------------------------------------*@

        <tr>
            <td align="right">
                <label for="password">Password:</label>
            </td>
            <td align="left">
                <input type="password" name="password" id="password" value="@(Model==null ? "":Model.password)" placeholder="Password" />
            </td>
            <td>
                <span class="text-danger">@Html.ValidationMessage("password")</span>
            </td>
        </tr>

        @*-------------------------------------------------------------------------------------------*@


        <tr>
            <td align="right">
                <label for="dob">Date of Birth:</label>
            </td>
            <td align="left">
                @Html.TextBoxFor(model => model.dob, new { @id = "dob", @type = "date" })
                <br />
            </td>
            <td>
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.dob)
                </span>
            </td>
        </tr>

        @*----------------------------------------------------------------------------------------------*@

        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit" class="btn btn-danger"/>
            </td>
        </tr>

    </table>

</form>